.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
}

.navbar-nav>li>a {
    padding-top: 10px
    padding-bottom: 10px;
    line-height: 30px;
}

body {
	background-image: url("gray-floral-new2.png");
}


.navbar-default .navbar-brand{
	color: #ff7700;
}


.navbar-default .navbar-nav>li>a {
	color: #ff7700;
}

a {
	color: #ff7700;
}

h1 {
	color: #ff7700;
}

.jumbotron h1{
	color: #ff7700;
}
